{%extends "entidades/index.html"%}

{% block titulo %}
<div class="container px-4 px-lg-5 h-100">
    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-8 align-self-end">
            <h1 class="text-white font-weight-bold">Clientes</h1>
            <hr class="divider" />
        </div>
        <div class="col-lg-8 align-self-baseline">
            
            <p class="text-white-75 mb-5">¿Quieres ser un cliente?</p>
            <a class="btn btn-primary btn-xl" href="{%url 'clienteForm'%}">Toca aqui</a>

           
            
        </div>
    </div>
</div>
{% endblock titulo %}

{% block contenido %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    {% for p in clientes %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.nombre }}</td>
            <td>{{ p.apellido }}</td>
            <td>{{ p.email }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}
    
    